<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Contacto </title>
</head>
<!--Aqui va el body con el formulario de contacto, con un mapa y datos de contacto-->
<body class="contacto">
    <header>
        <div class="menu">
            <img src="../assets/imagenes/signo-sagitario-de-un-arquero.png" alt="un hombre con un arco, icono en negro con fondo azul" height="70" width="70" class="logo">
            <input type="checkbox" name="menu" id="menu">
            <label for="menu">
            <img src="../assets/imagenes/menu-burger-horizontal-svgrepo-com.svg" alt="menu icono hamburguesa" height="40" width="40">

            </label>
        <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="presupuestos.html">Presupuestos</a></li>
                    <li><a href="contacto.html" class="active">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <section>
            <h2 class="contacto-h2">Aqui estamos :</h2>
        <div class="contacto-map">
                <div class="map1">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6156.174388091991!2d3.023330175436549!3d39.51252171017654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297b3e6458f3149%3A0x987f1e15da4aea1d!2sCarrer%20de%20Sant%20Alonso%20Rodr%C3%ADguez%2C%2014%2C%2007260%20Porreres%2C%20Illes%20Balears!5e0!3m2!1ses!2ses!4v1764431521599!5m2!1ses!2ses" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="map2">

                    <h3>Encuentranos en</h3>
                    <ul>
                        <li>Calle Sant Alonso Rodriguez 19 Porreres CP 07269 Islas Baleares</li>
                        <li>Telefono: 625-790-876</li>
                        <li>Correo Electronico:  <a href="mailto:leger50@hotmail.com">leger50@hotmail.com</a></li>
                    </ul>

                </div>
            
                
            </div>
            
        </section>

    </main>
    <footer>
        <div class="footer-content">
            <div class="link">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./presupuestos.html">Presupuestos</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="link-redes">
                <h3>Contactanos tambien en :</h3>
                <div class="social1">
                    <a href="https://www.facebook.com" target="_blank"><img src="../assets/imagenes/facebook-3-logo-svgrepo-com.svg" alt="logo de facebook" height="40" width="40"></a>

                    </div>
                    <div class="social1">
                        <a href="https://www.instagram.com" target="_blank"><img src="../assets/imagenes/instagram-1-svgrepo-com.svg" alt="logo de instagram" height="40" width="40"></a>

                    </div>
                    <div class="social1">
                        <a href="https://www.whatsapp.com" target="_blank"><img src="../assets/imagenes/whatsapp-icon-logo-svgrepo-com.svg" alt="logo de whatsapp" height="40" width="40"></a>

                    </div>
                </div>
        </div>
        <div class="direccion">
            <p>Dirección: Calle Sant Alonso Rodriguez 69, Porreres, Mallorca, España  | Teléfono: +34 625790289  | E-mail: <a href="mailto:leger50@hotmail.com">leger50@hotmail.com</a></p>
        </div>
        <div class="politica-txt">
                <hr>
                <h3>Politica de privacidad</h3>
                <p>Todos los derechos reservados  © 2025</p>

            
            </div>
    </footer>
</body>
</html>