<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Productos</title>
</head>

<!--Aqui va el body con la clase productos-back para darle un fondo diferente al de las otras paginas-->
<body class="productos-back">
    <header >
        <div class="menu">
          <img src="../assets/imagenes/signo-sagitario-de-un-arquero.png" alt="figura de un hombre con un arco, icono en negro" height="70" width="70" class="logo">
        <input type="checkbox" name="menu" id="menu">
        <label for="menu">
            <img src="../assets/imagenes/menu-burger-horizontal-svgrepo-com.svg" alt="menu icono hamburguesa" height="40" width="40">

        </label>
        <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html" class="active">Productos</a></li>
                    <li><a href="presupuestos.html">Presupuestos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <section class="pata-product">
            <h2>Viajes Inolvidables</h2>
        <div class="container-productos">
                <div class="productos-txt">
                    
                    <p>Contamos con la experiencia y conocimiento de mas de 20 años organizando, planificando y guiando rutas y viajes de senderismo en la Patagonia. Ofrecemos una experiencia completa que va desde el asesoramiento personalizado hasta la gestion logistica de todos los aspectos del viaje.
                    Somos guias especializados y con experiencia, nos encargamos de la orientacion, la seguridad y ofrecemos informacion relevante sobre la flora, fauna geografia e historia de la zona. Ofrecemos un acceso a la naturaleza y experiencias de aventura de forma organizada y segura.
                    </p> <br><br>
                    <p>Si deseas mas informacion escribenos:  <a href="../views/presupuestos.html" class="producto-c">Informacion</a> o encuentranos en <a href="../views/contacto.html" class="producto-c">Contacto</a> </p>
                    
                </div>
                <div class="productos">
                    <div class="producto1">
                        <img src="../assets/imagenes/IMG_20230207_114720_6.jpg" alt="puesto de correos sobre una plataforma sobre un lago" width="200" height="200">
                        <div class="producto1-txt">
                            <h3>Tierra del fuego</h3>
                            <p>Tierra del Fuego ofrece una variedad de escenarios naturales para hacer senderismo. Desde caminatas cortas a trekking de montaña, existen muchos itinerarios para elegir dependiendo del tiempo y la exigencia.</p>

                            <div class="precio">15 dias desde <strong>5500 €</strong></div>
                        </div>
                    </div>
                    <div class="producto1">
                        <img src="../assets/imagenes/IMG-20230218-WA0080.jpg" alt=" montañas con nubes" width="200"
                        height="200">
                        <div class="producto1-txt">
                            <h3>Patagonia Austral</h3>
                            <p>La Patagonia austral se refiere a la región más meridional de América del Sur, que abarca el sur de Argentina y Chile, incluyendo las provincias argentinas de Chubut, Santa Cruz y Tierra del Fuego, así como territorios en Chile hasta el Estrecho de Magallanes. </p>
                            <p class="precio"> 20 dias desde <strong>7600€</strong> </p>
                        </div>
                    </div>
                    <div class="producto1">
                        <img src="../assets/imagenes/IMG_20230214_154213_2.jpg" alt="mujer caminando con bastones de montaña, en la cima de una montaña sin arboles" width="200" height="200">
                        <div class="producto1-txt">
                            <h3>Huella Andina </h3>
                            <p>Es el primer gran sendero de largo recorrido de la Argentina: más de 500 km. que unen 3 provincias patagónicas (Neuquén, Río Negro y Chubut) y 5 parques nacionales: Lanín, Nahuel Huapi, Los Arrayanes, Lago Puelo y Los Alerces. </p>
                            <div class="precio"> 22 dias desde <strong> 8000 €</strong></div>
                        </div>
                    </div>
            </div>

            </div>
        </section>

    </main>
    <footer>
        <div class="footer-content">
            <div class="link">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./presupuestos.html">Presupuestos</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="link-redes">
                <h3>Contactanos tambien en :</h3>
                <div class="social1">
                    <a href="https://www.facebook.com" target="_blank"><img src="../assets/imagenes/facebook-3-logo-svgrepo-com.svg" alt="logo de facebook" height="40" width="40"></a>

                    </div>
                    <div class="social1">
                        <a href="https://www.instagram.com" target="_blank"><img src="../assets/imagenes/instagram-1-svgrepo-com.svg" alt="logo de instagram" height="40" width="40"></a>

                    </div>
                    <div class="social1">
                        <a href="https://www.whatsapp.com" target="_blank"><img src="../assets/imagenes/whatsapp-icon-logo-svgrepo-com.svg" alt="logo de whatsapp" height="40" width="40"></a>

                    </div>
                </div>
        </div>
        <div class="direccion">
            <p>Dirección: Calle Sant Alonso Rodriguez 69, Porreres, Mallorca, España  | Teléfono: +34 625790289  | E-mail: <a href="mailto:leger50@hotmail.com">leger50@hotmail.com</a></p>
        </div>
        <div class="politica-txt">
                <hr>
                <h3>Politica de privacidad</h3>
                <p>Todos los derechos reservados  © 2025</p>

            
            </div>

    </footer>
</body>
</html>